@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  color: #bbb;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: all 0.25s;
}
body {
  background-color: #000;
}
